{% extends  'layouts/base.html' %}

{% block content %}
      <h1 style="text-align: center;" class="text-danger"> welcome to Our Book Store </h1>

<h1> All books </h1>
<br>
<br>
        <a class="btn btn-dark"  href="{% url 'create_std_modelform' %}"> Add New Book </a>
<br>
<br>

        <table class="table">
            <tr><td>ID</td> <td>Title</td> <td>No of Pages</td>  <td>Price</td> <td>created at</td> <td>updated at</td> <td> Show</td> <td> Edit</td> <td> Delete</td>
            </tr>
            {% for book in books %}
                <tr>
                    <td>{{book.id}}</td>
                      <td>{{book.title}}</td>
                      <td>{{book.no_of_pages}}</td>
                      <td>{{book.price}}</td>
                      <td>{{book.created_at}}</td>
                      <td>{{book.updated_at}}</td>
                    <td><a class="btn btn-primary" href="{% url 'show' book.id %}"> Show</a></td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'edit' book.id%}"> Edit</a></td>
                    <td>
                      <td><a class="btn btn-danger" href="{% url 'delete' book.id %}"> Delete</a></td>

                </tr>
            {% endfor %}

        </table>
        {% endblock %}